<div class="virtual-atc-block" data-product-id="{{ product.id }}" data-enable="{{ product.metafields.virtualatc.enable.value }}"></div>
<style>
</style>
{% schema %}
{
  "name": "Virtual ATC",
  "target": "section",
  "templates": ["product"]
}
{% endschema %}
